[server]
host = 0.0.0.0
port = 2052
online-mode = true
public-access-host = private
enable-welcome-message = false
welcome-message = Change this
max-message-length = 256
announce-new-clients = true

[discord]
hook-enabled = false
hook-url =
